.input-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input-box {
    width: 250px;
}

.search-box {
    margin-right: 4px;
    padding: 3px;
    border: 1px solid #cecece;
}

.header {
    justify-content: center;
    align-items: center;
    color: black;
    border: 0px;
}

.image-dim {
    height: 130px;
    border-radius: 2px;
    width: 100%;
}

.menu-cart {
    margin: 5px;
    border: 2px solid rgb(218, 215, 215);
    width: 200px;
    padding: 5px;
}

.api-data {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Ing-image {
    width: 400px;
    height: 400px;
}

.Ing-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.str-mealname {
    font-weight: bolder;
}

.str-areya {
    display: flex;
    width: 400px;
    height: 60px;
    border: 2px dotted brown;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.str-instruction {
    width: 400px;
    margin-top: 20px;
}

.str-ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ingredientd-items {
    background-color: rgb(199, 239, 239);
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 20px;

}